*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.667rem;
  letter-spacing: 1px;
  text-align: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
  min-height: 31.667rem;
  max-width: 375px;
  padding: 2em;
  margin: 13em 2em;
  -webkit-box-shadow: 4px 4px 12px 2px #4a4b5e;
          box-shadow: 4px 4px 12px 2px #4a4b5e;
}

.card__body {
  margin-bottom: 1.5em;
}

.card__images {
  position: relative;
  top: -130px;
  left: -16px;
  height: 100px;
}

.card__images-desktop {
  display: none;
}

.card__images-bgmobile {
  position: relative;
  top: -94px;
  left: 16px;
}

.question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
  font-size: 0.917rem;
  color: #787887;
  overflow: hidden;
  border-bottom: 1px solid #6a6f8136;
}

.question__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  cursor: pointer;
}

.question__label:hover {
  color: #1d1e35;
  font-weight: 700;
}

.question__label::after {
  content: url("../images/icon-arrow-down.svg");
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.answer__content {
  max-height: 0;
  padding: 0 1em;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  text-align: left;
  line-height: 16px;
}

input:checked + .question__label {
  font-weight: 700;
}

input:checked + .question__label::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

input:checked ~ .answer__content {
  max-height: 100vh;
  padding: 0 1em;
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 830px;
    min-height: 36em;
    overflow: hidden;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 700px;
    background-position-x: -28em;
    background-position-y: -15em;
  }
  .card__images {
    display: none;
  }
  .card__images-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__images-desktop .desktop__woman {
    position: relative;
    left: -7.5em;
    bottom: 1em;
  }
  .card__body {
    margin: 1.5em 0;
    text-align: left;
    width: 50%;
  }
  .card__body h1 {
    text-align: left;
    margin-bottom: 1.5em;
  }
  .card__body .question__label {
    padding: 0;
    margin-bottom: 1em;
    margin-right: 2em;
  }
  .card__body .question__label:hover {
    color: #f47c57;
  }
  .card__body .question .answer__content {
    padding: 0;
  }
  .card__body .question .answer__content p {
    margin: 0.5em 0;
  }
  .card::after {
    content: url(../images/illustration-box-desktop.svg);
    position: absolute;
    margin-left: -69em;
    margin-top: 11em;
  }
}

input:checked + .question__label {
  color: #f47c57;
}

.attribution {
  text-align: center;
  color: #e7e7e9;
  margin-top: 20px;
}

.attribution a {
  color: #e7e7e9;
}
/*# sourceMappingURL=style.css.map */